<!DOCTYPE html>
<html lang="en" ng-app="login">

<body>

<!-- navigation bar -->
<header>
    <div id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="home-account">
                        <a href="/">Home</a>
                        <a href="/dashboard">My account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="/components/home.html"><img src="images/icons/icon-1.png" alt="Company Icon" ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-menu">
                        <ul>
                            <li><a href="/clients">Client</a></li>
                            <li><a href="/properties">Property</a></li>
                            <li><a href="/appointments">Appointment</a></li>
                            <li><a href="/items">Item</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="search-box">
                        <form name="search_form" method="get" class="search_form">
                            <input id="search" type="text" />
                            <input type="submit" id="search-button" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- header bar -->
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>Edit Manufacturer</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Display Edit Manufacturer Form -->
<div id="editmanu">

</div>


</body>
</html>
